<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ユーザーリスト</title>
</head>
<body>
    <li><a href="{{ url_for('index') }}">HOME</a></li>
    <table>
        <thead>
            <tr>
                <th>名前</th>
                <th>色</th>
            </tr>
        </thead>
        <tbody>
            {% for user in items %}
            <tr>
                <td>{{ user.user }}</td>
                <td>{{ user.color }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    
</body>
</html>