<!-- ポップアップの具体的なデータ取得方法が思い付いてないので、もしかしたらファイル構成変えるかもしれない -->
<script></script>
<!-- <div>ポップアップ</div> -->

<style>
    .popup-overlay {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 100;
        justify-content: center;
        align-items: center;
    }
    .popup-overlay-edi {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 100;
        justify-content: center;
        align-items: center;
    }

    .popup-content {
        /* display: flex; */
        justify-content: center;
        align-items: center;
        position: absolute;
        padding: 20px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        /* width: 50%;
        height: 50%; */
        background-color: white;
        z-index: 101;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    }

    #invisible {
        display: none;
    }
    
</style>

<div class="popup-overlay" id="popup-add">
    <div class="popup-content">
        <h3>追加</h3>
        <form method="post" action="{{ url_for('api.add') }}" id="add">
            <div id="date">
                <!-- ここに日付を表示 -->
            </div>
            <div id="selected-user" style="display: none;">
                <!-- ここに選択されたユーザーを表示 -->
            </div>
            <div id="invisible">
                <input type="text" name="start" required>
                <input type="text" name="user-csv" required>
            </div>
            予定を入力: <input type="text" name="title" required>
            <button type="submit">追加</button>
        </form>
    </div>
</div>

<div class="popup-overlay-edi" id="popup-edit">
    <div class="popup-content">
        <h3>編集</h3>
        <div id="date">
            <!-- ここに日付を表示 -->
        </div>
        <form method="post" action="{{ url_for('api.edit') }}" id="edi">
            <input type="text" id="inputStart" name="start" required style="display: none;">
            <input type="text" id="inputEvent" name="title" required style="display: none;">
            <input type="text" id="inputReEvent" name="re-title" required>
            <button type="submit">変更</button>
        </form>
        <br>
        <form method="post" action="{{ url_for('api.delete') }}" id="del">
            <input type="text" id="delStart" name="start" required style="display: none;">
            <input type="text" id="delEvent" name="title" required style="display: none;">
            <button type="submit" onclick="return confirm('本当に削除しますか？');">削除</button>
        </form>
    </div>
    
</div>

<script>
    // popup-overlayのクリックイベント
    const popupOverlay = document.querySelector('.popup-overlay');
    popupOverlay.addEventListener('click', (e) => {
        if (e.target === popupOverlay) {
            popupOverlay.style.display = 'none';
        }
    });
    // popup-overlay-ediのクリックイベント
    const popupOverlayEdi = document.querySelector('.popup-overlay-edi');
    popupOverlayEdi.addEventListener('click', (e) => {
        if (e.target === popupOverlayEdi) {
            popupOverlayEdi.style.display = 'none';
        }
    });
</script>
